/*developed by Alain*/
@charset "utf-8";


@font-face {
    font-family: "rei";
    src: url("https://i.alipayobjects.com/common/fonts/rei.eot"); /* IE9*/
    src: url("https://i.alipayobjects.com/common/fonts/rei.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("https://i.alipayobjects.com/common/fonts/rei.woff") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */
         url("https://i.alipayobjects.com/common/fonts/rei.ttf")  format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("https://i.alipayobjects.com/common/fonts/rei.svg#rei") format("svg"); /*  iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}
.iconfont {
    font-family: "rei";
    font-style: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}


body{
    background:#fff;
}

.row {
	*zoom:1
}
.row:after {
	content:"";
	display:table;
	clear:both
}
.row-full {
	width:100%;
	*zoom:1
}
.row-full:after {
	content:"";
	display:table;
	clear:both
}


.wrap {
	width:1190px;
	margin:0 auto;
	*zoom:1;
	position:relative
}
.wrap:after {
	content:"";
	display:table;
	clear:both
}
.figure {
    display: block;
    position: relative;
    width: 100%;
    font-weight: 500;
}
i{font-style: normal;}
.ai, .ai:link, .ai:visited{color: #f33f00 !important;}
.mt12{margin-top: 12px !important;}
.mt10{margin-top: 10px;}
.mt40{margin-top: 40px;}
.mt100{margin-top: 100px !important;}
.mt200{margin-top: 200px !important;}
.hidden{display: none;}
.none{display: none !important;}
.txtcenter{text-align: center;}
.divide {font-style: normal;color: #CCC;}
.error{color:red;}
.border{border:1px solid #e8e8e8;}
.last{border-bottom: none;}
.linethr{text-decoration: line-through;}
.priceNum{color: #ff5500;font-size: 22px;font-weight: bold;margin-right: 5px;}

.ui-popup{
    border: 1px solid #EBEBEB;
    border-top: 0;
    padding: 3px 5px;
    background: #f5f5f5;
    margin: 0;
}
.ui-popup li a{
    margin-left: 0;
}

.adv img{
	/*width: 100%;
	height: 100%;*/
}

.site-nav:after {
	content: "";
	display: table;
	clear: both;
}
.site-nav {
	z-index: 10000;
	width: 100%;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.site-nav .site-nav-bd {
	width: 990px;
	background: #f5f5f5;
	-webkit-backface-visibility: hidden;
}
.site-nav .site-nav-bd{
	width:1190px;
}
/*@media (max-width:1189px) {
	.site-nav .site-nav-bd,.wrap {
		width:990px
	}
}*/
#popupMyMall {
	width: 80px;
}
.mininavInner {
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    color: #666;
    position:relative;
}
.mininavInner a{
    margin-left: 15px;
    color: #666;
}
.mininavInner a:hover,.mininavInner a:link,.mininavInner i.app {
    color: #666;
}
.mininavInner i {
	color: #f33f00;
	margin-left: 3px;
}







.head {
    height: 62px;
    margin: 0 auto;
    padding: 10px 0 15px;
    position: relative;
}
.head .logo {
    float: left;
    display: inline;
    position: relative;
    width: 290px;
}
.head .logo .ailogo {
    display: block;
    width: 230px;
    height: 60px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}
.head .logo span{
	position: absolute;
	right: 0px;
	top: 10px;
	font-size: 16px;
	color: #333;
}

.head .searchTxt {
    float: left;
    width: 415px;
    height: 30px;
    border: 2px solid #ff5500;
    border-right: 0;
    position: relative;
    z-index: 20;
    background: #FFF;
}
.head #searchbar{
    width: 487px;
}
.head .search-bd{
    margin-left: 90px;
}
/*@media (max-width:1189px) {
	.head .search-bd {
		margin-left: 9px;
	}
}*/
.head .search-bd span{
    position: absolute;
    top: 50px;
    right: 230px;
}
.head .search input {
    float: left;
    border: 0;
    background: #FFF;
    color: #333;
    width: 407px;
    height: 22px;
    margin: 0;
    outline: medium none;
    padding: 4px;
}
.head .searchBtn button {
	background-color: #ff5500;
    border: 0;
    color: #FFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 34px;
    /*text-indent: -9999px;*/
    width: 70px;
}
#hotwords {
	height: 18px;
	color: #999;
	overflow: hidden;
	clear: both;
	padding: 5px 0;
}
#hotwords span, #hotwords strong {
	float: left;
	font-weight: 400;
}
#hotwords a:link, #hotwords a:visited {
	float: left;
	margin-right: 10px;
	color: #999;
}

.s-topbtn div{
	width: 90px;
	height: 33px;
	border: 1px solid #ddd;
	background: #eee;
	text-align: center;
	float: left;
	margin-left: 10px;
}
.s-topbtn div a{
	color: #666;
	height: 33px;
	line-height: 33px;

}


#main-nav{
	background-color: #ff5500;
}
#main-nav ul li{float: left;}
#main-nav ul li, #main-nav ul li a{
	color: #fff;
}
#main-nav ul li a{
	float: left;
	height: 40px;
	line-height: 40px;
	width: 60px;
	padding: 0px 10px;
	text-align: center;
}
#main-nav ul li a:hover,#main-nav ul li a.active{
	background-color: #f33f00;
	text-decoration: none;
}
#main-nav ul li a.all-prds{
	width: 160px;
	text-align: left;
}
#main-na ul li a#prds-pop{

}
#main-nav ul li a.all-prds:hover{
	background-color: #ff5500;
}


.cont {
	display: inline;
	float: left;
	width: 100%;
}
.cont .main {
	position: relative;
	margin-left: 188px;
	overflow: hidden;
}


.cont .main-subprime{
	position: relative;
	margin-left: 0px;
	overflow: hidden;
}
.main-subprime .subprime-l{
	display: inline;
	float: left;
	margin-top: 10px;
	margin-left: -100%;
	width: 300px;
	height: 270px;
}
.main-subprime .subprime-c{
	margin-top: 10px;
	display: inline;
	float: left;
	width: 100%;
	overflow: hidden;
}
.main-subprime .subprime-c .subprime-c-wrap{
	margin: 0 480px 0 280px;
	background: #000;
}
.main-subprime .subprime-d{
	display: inline;
	float: left;
	background: red;
	width: 200px;
	height: 270px;
	margin-top: 10px;
	margin-left: -480px;
}
.main-subprime .subprime-r{
	display: inline;
	float: left;
	margin-left: -270px;
	width: 248px;
	height: 248px;
	margin-top: 10px;
	border:1px solid #e8e8e8;
	background: #f5f5f5;
	padding: 10px;
}
.subprime-r .new-one{
	border:1px solid #e8e8e8;
	background: #fff;
	width: 226px;
	padding: 10px;
	margin-top: 5px;
	height: 199px;
	text-align: center;
	position: relative;
}
.subprime-r .note{
	position: absolute;
	height: 30px;
	line-height: 30px;
	bottom: 10px;
	text-align: left;
	font-size: 16px;
	width: 225px;
	border-top: 1px dotted #e8e8e8;
	padding-top: 8px;
	left: 10px;
}
.subprime-r h3{
	font-size: 14px;
}
.subprime-r .date{
	font-size: 12px;
	color: #666;
	float: right;
}
.note .btn{
	width: 90px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #f33f00;
	font-size: 12px;
	text-align: center;
	float: right;
	display: block;
	margin-top: 0;
	border:0;
}
.subprime-r .new-one img{
	width: 110px;
	height: 110px;
	margin-top: 20px;
}
.subprime-l ul{
	border-left: 1px solid #e8e8e8;
}
.subprime-l ul li{
	position: relative;
	display: block;
	float: left;
	border:1px solid #e8e8e8;
	z-index: 1;
	margin-left: -1px;
	margin-bottom: -1px;
	position: relative;
	overflow: hidden;
	text-align: center;
	width: 98px;
	height: 133px;
	cursor: pointer;
	
}
.subprime-l ul li a {
	position: absolute;
	bottom: 40px;
	left: 20px;
	width: 60px;
	height: 60px;
	line-height: 140px;	
	background: url(../images/inno_ico.png) no-repeat;
}

.subprime-l ul li a.ent{background-position: 0px -8px;}
.subprime-l ul li a.ent:hover{background-position: -62px -8px;}

.subprime-l ul li a.biz{background-position: 0px -69px;}
.subprime-l ul li a.biz:hover{background-position: -62px -69px;}

.subprime-l ul li a.mms{background-position: 0px -131px;}
.subprime-l ul li a.mms:hover{background-position: -62px -131px;}

.subprime-l ul li a.inv{background-position: 0px -190px;}
.subprime-l ul li a.inv:hover{background-position: -62px -190px;}

.subprime-l ul li a.food{background-position: 0px -255px;}
.subprime-l ul li a.food:hover{background-position: -62px -255px;}

.subprime-l ul li a.read{background-position: 0px -318px;}
.subprime-l ul li a.read:hover{background-position: -62px -318px;}




.main .main-l {
	display: inline;
	float: left;
	margin-right: -100%;
	margin-top: 10px;
	width: 518px;
}
.main .main-c {
	margin-top: 10px;
	display: inline;
	float: left;
	width: 100%;
	overflow: hidden;
}
.main .main-c .main-c-wrap {
	margin: 0 284px 0 518px;
}
.main .main-c .main-c-wrap .main-c-hd {
	width: 200px;
	height: 270px;
	font-size: 0;
	overflow: hidden;
}
.main .main-c .main-c-wrap .main-c-ft {
	width: 200px;
	height: 155px;
	font-size: 0;
	overflow: hidden;
	margin: 4px 0 0 0;
}
.main .main-r {
	display: inline;
	float: left;
	margin-left: -284px;
	padding-left: 10px;
	width: 274px;
	margin-top: 10px;
	background: #fff;
}




.promo{
	position: relative;
	width: 516px;
	height: 270px;
	overflow: hidden;
	background: #000;
	float: right;
	margin-bottom: 2px;
}
.promo-inno{
	width: 400px;
	height: 270px;
	overflow: hidden;
	background: #000;
	float: right;
	margin-bottom: 2px;
	position: relative;
}




.side.service-side {
	z-index: 2;
	position: absolute;
	display: inline;
	float: left;
	margin-left: -100%;
	width: 180px;
}
.service-side ul{
	border-right: 2px solid #ff5500;
	border-left: 2px solid #ff5500;
	border-bottom: 2px solid #ff5500;
	background-color: #fffaf7;
	position: relative;
}
.service-side ul li{
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #EBEBEB;
	padding-left: 45px;
	position: relative;
}
.service-side ul li i{
	position: absolute;
	top: 13px;
	left: 15px;
	color: #ff3300;
}
.service-side ul li:hover{cursor:pointer;}
.service-side ul li.current{background-color: #fff}
.service-side ul li.last{border-bottom:none;height: 31px;line-height: 31px;}
.service-side ul li a{margin-right: 8px;}

.side s{
	left: -1px;
	top: -1px;
	width: 7px;
	height: 34px;
	background: #fff;
	overflow: hidden;
	display: block;
	position: absolute;
	z-index: 100;
	border-top: 1px solid #EBEBEB;
}



.subside-cont{
	padding: 10px 10px 40px 20px;
	position: absolute;
	left: 170px;
	top: 0;
	width:696px;
	z-index: 10;
	background: #fff;
	border-top: 1px solid #EBEBEB;
}
#coolNumPopup.subside-cont{
	border-top: none;
}
.subside-cont .subitem{
	border-bottom: 1px dotted #EBEBEB;
	padding: 15px 0;
}
.subside-cont .subitem dt{
	float: left;
	width: 110px;
	line-height: 22px;
	height: 22px;
	font-weight: bold;
	color: #666;
}
.subside-cont .subitem dd {
	/*padding: 3px 0 0;*/
	overflow: hidden;
	zoom: 1;
}
.subside-cont .subitem dd a {
	float: left;
	height: 22px;
	/*margin: 4px 0;*/
	line-height: 22px;
	padding: 0 15px;
}
.subside .fa-mobile{
	left: 17px;
}
.subside .fa-cc-discover{
	left: 10px;
}
.subside .fa-gift{
	top: 10px;
}








/*slidePicNews*/
#slidePicNews {
    position: relative;
    width: 516px;
    height: 270px;
    overflow: hidden;
}
#slideInno{
	position: relative;
    width: 400px;
    height: 270px;
    overflow: hidden;
}
#slidePicNews .ui-switchable-content, #slideInno .ui-switchable-content{
    margin: 0;
    padding: 0;
    list-style: none;
}
#slidePicNews .ui-switchable-content .ui-switchable-panel{
    position: relative;
    width: 518px;
    height: 270px;
    overflow: hidden;
}
#slideInno .ui-switchable-content .ui-switchable-panel {
    position: relative;
    width: 400px;
    height: 270px;
    overflow: hidden;
}
#slidePicNews .ui-switchable-nav, #slideInno .ui-switchable-nav {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    text-align: center;
}
#slidePicNews .ui-switchable-nav .ui-switchable-trigger, #slideInno .ui-switchable-nav .ui-switchable-trigger {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 8px;
    font-size: 16px;
    line-height: 1.5;
    opacity: .3;
    filter: alpha(opacity=30);
    color: #fff;
    cursor: pointer;
    list-style: none;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background: #ff5500;
    text-indent: -9999999px;
}
#slidePicNews .ui-switchable-nav .ui-switchable-active,  #slideInno .ui-switchable-nav .ui-switchable-active{
    opacity: 1;
    filter: alpha(opacity=100);
}
#slidePicNews .move, #slideInno .move{
    display: none;
}
#slidePicNews .move #prev,#slidePicNews .move #next, #slideInno .move #prev, #slideInno .move #next{
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 110px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(0,0,0,.7);
    text-align: center;
}
#slidePicNews .move #prev, #slideInno .move #prev{
    left: 0px;
}
#slidePicNews .move #next, #slideInno .move #next{
    right: 0px;
}
#slidePicNews .move #prev,#slidePicNews .move #next,#slideInno .move #prev,#slideInno .move #next{
    opacity: .5;
    filter: alpha(opacity=50);
}
#slidePicNews .move #prev:hover,#slidePicNews .move #next:hover, #slideInno .move #prev:hover,#slideInno .move #next:hover{
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
}







/*Carousel Phones*/
.phones{
	width: 518px;
	height: 157px;
	overflow: hidden;
	display: inline-block;
}
.caro{
	/*margin: 2px 0 0 0;*/
	width: 518px;
	overflow: hidden;
}
.phones .caro{margin-bottom: 0;}
.caro div a{
	margin: 2px;
	display: block;	
}

/*sideTab*/
.notice {
	width: 272px;
	height: 146px;
	border: 1px solid #e8e8e8;
	position: relative;
	overflow: hidden;
}
.notice .notice-hd {
	position: relative;
	height: 27px;
	background: #f7f7f7;
}

.notice .ui-switchable-nav {
    position: absolute;
    top: 0;
    left: -1px;
    margin: 0;
    padding: 0;
    z-index: 99;
    width: 274px;
}
.notice .ui-switchable-nav li:hover{
	cursor: pointer;
}
.notice .ui-switchable-nav li{
    float: left;
    width: 135px;
    height: 27px;
    padding: 0 1px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    list-style: none;
    background: #efefef;
    color: #666;
    border-bottom: 1px solid #e8e8e8;
}
.notice .ui-switchable-nav .ui-switchable-active {
    cursor: default;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    padding: 0px;
    background: #fff;

}
.notice .ui-switchable-content {
    position: relative;
    padding: 10px;
    list-style-type: disc;
}
.notice .ui-switchable-content li{
	height: 25px;
	line-height: 25px;
	list-style-type: disc;
	list-style-position: inside;
}
#side-promo{
	width: 274px;
	height: 110px;
	overflow: hidden;
	margin-top: 10px;
}
/*@media (max-width:1189px) {
	.main .main-c .main-c-wrap, .w990-hidden {
		display: none;
	}
}*/

.ai-form .ui-button{
	border:0px solid #d66500;
}

.ai-form .ui-form-item{
	padding: 0 0 12px 0;
}
.ai-form .ui-input{
	height: 22px;
	line-height: 22px;
	width: 180px;
	border:1px solid #e8e8e8;
}
.ai-form.short .ui-input{
	width: 70px;
	color: #999;
}

.custom .ai-form .ui-form-item{
	padding: 0;
}
.custom .ai-form .ui-form-item{
	position: absolute;
	top: 0px;
	margin-left: 10px;
}
.custom .ai-form .ui-form-item.alibtn{
	position: absolute;
	top: -2px;
	left: 297px;
}
.custom .ai-form .ui-input{
	height: 26px;
	line-height: 26px;
}
#triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}





/*channel*/

.channel {
	/*height: 327px;*/
	margin: 20px 0;
	overflow: hidden;
	clear: both;
}
.channel .sale-hd{
	/*padding-bottom: 5px;*/
	overflow: hidden;
	position: relative;
	height: 40px;
	/*border-bottom: 1px solid #e8e8e8;*/
}
.channel .sale-hd h3{
	display: inline;
	float: left;
	position: absolute;
	width: 71px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding-left: 35px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	bottom: 5px;
}
.channel .sale-hd i{
	position: absolute;
	top: 7px;
	left: 5px;
}
.channel .sale-hd .sale-p4p {
	display: inline;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 12px;
}
.channel .sale-hd .sale-p4p a {
	display: inline;
	float: left;
	margin-left: -1px;
	padding: 0 10px;
	color: #666;
	background-position: -399px 5px;
	height: 14px;
	line-height: 14px;
}
.channel .sale-hd .sale-p4p a.line {
	border-right: 1px solid #e8e8e8;
}

.item-wrap{
	width: 962px;
	overflow: hidden;
}
.channel-item.last{
	border-right: 0;
}
.channel-item {
	border: 1px solid #e8e8e8;
	padding: 14px;
	height: 272px;
	width: 210px;
	color: #3c3c3c;
	float: left;
	position: relative;
	z-index: 1;
	margin-left: -1px;
	margin-top: -1px;
	overflow: hidden;
}
.channel-item:hover{
	
}
.tag-category{
	border:1px solid #e8e8e8;
	border-right: none;
	border-left: none;
	overflow: hidden;
	width: 234px;
	margin-top: -1px;
}
.tag-category .ads2{
	height: 425px;
	margin: 40px 0;
}
.tag-category .tags{
	height: 76px;
	width: 214px;
	overflow: hidden;
	padding: 10px;
}
.tag-category .tags a{
	margin:0 5px 0 0;
	height: 22px;
	line-height: 22px;
}
.channel-item .desc, .p-name{
	width: 210px;
	height: 22px;
	overflow: hidden;
	color: #666;
	/*-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space:nowrap;*/
}
.channel-item .desc{
	height: 40px;
}
.p-name a:link, .p-name a:visited{
	color: #000;
}
.p-name a:hover{
	color: #ff3300;
}
.channel-item .p-img img, .ads img{
	width: 180px;
	height: 180px;
}
.ads img{
	width: auto;
	height: auto;
}
.channel-item .p-price {
	color: #ff3300;
	font-weight: 700;
	font-size: 18px;
}


.filter-panel, .direct-buy{
	margin-top: 10px;
}
.filter-panel .bread-nav, .direct-buy .bread-nav{
	height: 30px;
	line-height: 30px;
}
.filter-panel h3{
	background: #efefef;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;
}
.filter-panel .content, .direct-buy .content{
	border: 1px solid #e8e8e8;
	border-top: 2px solid #ff3300;
}
.filter-panel .row{
	line-height: 40px;
	min-height: 40px;
	border-bottom: 1px dotted #e8e8e8;
	padding:0 100px 0 110px;
	position: relative;
}
.filter-panel .row span{
	position: absolute;
	left: 20px;
	top: 0px;
	font-weight: bold;
}
.filter-panel .row a{
	margin: 0px 10px;
	padding: 5px 10px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}
.filter-panel .row a.selected{
	background: #ff3300;
	color: #fff;
	border-radius: 5px;
}
.filter-panel .row a.removeSelected{
	position: absolute;
	right: 0px;
	top: 5px;
}
.filter-panel .row a.removeCondition{
	border: 1px solid #e8e8e8;
	height: 22px;
	line-height: 22px;
}
.filter-panel .row a.removeCondition:hover{
	text-decoration: none;
	color: #666
}
.filter-panel .row a.removeCondition i{
	margin-right: 5px;
}

.filter-panel .row:last-child, .filter-panel .row.last{
	border: none;
}
.direct-buy .snap-img img{
	width: 180px;
	height: 180px;
}
.direct-buy .left-col{
	position: relative;
	width: 350px;
	height: 365px;
	float: left;
}
.direct-buy .left-col .snap-img{
	position: absolute;
	top: 30px;
	left: 80px;
}
.direct-buy .left-col .saveto{
	position: absolute;
	bottom: 20px;
	left: 130px;
}
.direct-buy .left-col .saveto i{
	margin-right: 5px;
}

.direct-buy .right-col{
	width: 818px;
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}
.direct-buy .right-col h3{
	font-size: 16px;
	padding: 20px 0 10px 0;
}
.direct-buy .right-col h2,.direct-buy .right-col h4{
	border-bottom: 1px dotted #e8e8e8;
	padding-bottom: 10px;
	color: #666;
}
.direct-buy .right-col h4{
	color: #ff5500;
	font-size: 14px;
}

.direct-buy .right-col .price{
	background: #f5f5f5;
	height: 50px;
	line-height: 50px;
	position: relative;
	padding: 0 0 0 60px;
	margin-top: 10px;
}
.direct-buy .right-col .row{
	height: 50px;
	line-height: 50px;
	padding: 0px 0 0px 15px;
}
.direct-buy .right-col .price.orgin-p{
	height: 50px;
	line-height: 25px;
	padding: 15px 0 15px 15px;
}

.direct-buy .right-col .row .de{
	margin-right: 5px;
}
.direct-buy .right-col .row a{
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0 15px;
	border: 1px solid #e8e8e8;
	margin-right: 5px;
	display: inline-block;
}
.direct-buy .right-col .row a:hover,.direct-buy .right-col .row a.selected{
	border: 1px solid #ff5500;
	text-decoration: none;
	color: #ff5500;
}
.direct-buy .right-col .row.gobuy{
	padding-left: 75px;
}
.direct-buy .right-col .row.gobuy a{
	height: 35px;
	line-height: 35px;
	background: #ff5500;
	width: 80px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	border: none;
}
.direct-buy .right-col .row.gobuy a:hover{
	background: #ff3300;
}

.left-col-hot{
	border: 1px solid #e8e8e8;
	border-top: 2px solid #ff3300;
	width: 232px;
	margin-right: 10px;
}
.left-col-hot h3{
	background: #f5f5f5;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;
}
.left-col-hot ul{
	padding:  0px 10px 0 10px;
}
.left-col-hot ul li{
	width: 212px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px dotted #e8e8e8;
	padding: 10px 0;
}
.left-col-hot ul li.last{
	border-bottom: none;
}
.right-col-detail{
	width: 946px;
}
.right-col-detail .ui-switchable-nav{}
.right-col-detail .ui-switchable-nav li{
	height:35px;
	line-height: 35px;
	border:1px solid #e8e8e8;
	border-top: 2px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: #f5f5f5;
	text-align: center;
	margin-left: -1px;
	float: left;
	width: 100px;
	cursor: pointer;
	position: relative;
}
.right-col-detail .ui-switchable-nav .ui-switchable-active{
	background: #fff;
	border-bottom: 0px;
	color: #ff3300;
	border-top: 2px solid #ff3300;
}
.right-col-detail .ui-switchable-nav .fill{
	width: 541px;
	height: 35px;
	float: left;
	border-top: 2px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}
.right-col-detail .ui-switchable-content .ui-switchable-panel{
	padding: 50px 20px 20px;
}
.details-article p{
	color: #666;
	line-height: 22px;
}
.details-article h1{
	font-size:16px;
	font-weight: bold;
	color: blue;
	margin: 5px 0;
}
.details-article h2{
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
	color: #333;

}





.prd-list{
	margin-top: 20px;
}
#pagination.ui-paging{
	margin: 10px 0;
	height: 30px;
}
.prd-list .channel-item{
	border-left: 0;
}
a.btn{
	width: 93px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #e8e8e8;
	display: block;
	float: left;
	margin: 5px 5px 0 5px;
	text-align: center;
	position: relative;
	background: #fff;
}
.prd-list .channel-item a.btn.save{
	background: #efefef;
}
.prd-list .channel-item a.btn.buy{
	color: #ff3300;
}

.recommend-panel{
	border: 1px solid #e8e8e8;
	border-top: 2px solid #ff3300;
	width: 100%;
	float: left;
}
.recommend-panel .col-main{
	float: left;
	width: 100%;
}
.recommend-panel .col-sub{
	
}
.recommend-panel .main-wrap{
	margin-left: 235px;
}

.recommend-panel h3{
	background: #efefef;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;
}
.recommend-panel i{
	color: #ff3300;
	display: block;
}
.recommend-panel .jingxuan{
	width: 234px;
	border-right: 1px solid #e8e8e8;
	margin-left: -100%;
}
.jingxuan ul, .hotsell ul{
	padding: 10px;
}
.jingxuan ul li{
	border-bottom: 1px dotted #e8e8e8;
	position: relative;
	height: 80px;
	overflow: hidden;
}
.hotsell ul li{
	position: relative;
	height: 120px;
	width: 230px;
	overflow: hidden;
	float: left;
}

.jingxuan ul li:last-child, .jingxuan ul li.last{
	border-bottom: none;
}
.jingxuan ul li .info, .hotsell ul li .info{
	width: 130px;
	position: absolute;
	right: 0px;
	top: 10px;
}
.jingxuan ul li img, .hotsell ul li img{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 10px;
	left: 0px;
}
.hotsell ul li img{
	width: 90px;
	height: 90px;
}
.hotsell a.btn{
	margin-left: 0;
	color: #ff3300;
}
.channel-item.innove{
	position: relative;
	height: 170px;

}
.channel-item.innove h3{
	font-size: 14px;
}
.channel-item.innove img{
	width: 80px;
	height: 80px;
}
.channel-item.innove .p-img{
	margin-bottom: 20px;
}
.channel-item.innove .p-name{
	position: absolute;
	width: 120px;
	top: 10px;
	right: 10px;
	height: 75px;
	overflow: hidden;
}








.num-list ul li{
	border: 1px solid #e8e8e8;
	float: left;
	width: 594px;
	position: relative;
	height: 58px;
	line-height: 58px;
	margin-bottom: 20px;
	background: url(../images/num-arrow.png) no-repeat 262px 0;
}
.num-list ul li.right-col{
	border-left: none;
	width: 592px;
	background-position: 260px 0;
}
.num-list .num{
	font-size: 22px;
	position: absolute;
	left: 30px;
}
.num-list .gobuy{
	/*position: absolute;
	right: 0px;*/
	float: right;
	width: 300px;
	padding: 0 10px;
	background: #f8f8f8;
}
.num-list .gobuy .info{
	float: left;
	margin-left: 30px;
}
.num-list .gobuy .buy{
	margin: 15px 0px 0 20px;
}













.screen-ft{
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	width: 100%;
	margin-top: 40px;
	background: #f8f8f8;
}
.helper {
	margin: 0 auto;
	padding: 30px 0 20px 0;
	overflow: hidden;
	width: 990px;
}
.helper .mod {
	display: inline;
	float: left;
	margin-right: -1px;
	width: 20%;
}
.helper .mod .mod-wrap {
	padding: 0 25px;
	border-right: 1px solid #e8e8e8;
	overflow: hidden;
	width: 100px;
}
.helper .mod .mod-wrap h4 {
	margin-bottom: 5px;
	overflow: hidden;
}
.helper .mod .mod-wrap li {
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}
.helper .mod .mod-wrap li {
	display: -moz-inline-stack;
	display: block;
	vertical-align: middle;
	zoom: 1;
	margin-right: 10px;
	float: none;
	width: auto;
}
.helper .mod .mod-wrap li a {
	color: #9c9c9c;
}
.helper .mod-e .mod-wrap {
	border-right: 0;
}
.footer-link{
	text-align: center;
	line-height: 22px;
	height: 80px;
}
.copyright{
	height: 22px;
	line-height: 22px;
}







